body{
    background-image: url(fondoseguimiento.jpg);    
    background-size: 100rem;
}


.centrar{
    text-align: center;
}

.fondorojo{
    background-color: red;
}

.fondoazul{
    background-color: blue;
}

.fondoamarillo{
    background-color: yellow;
}

.fondorosa{
    background-color: pink;
}


.colorrojo{
    color: red;
}

.colorazul{
    color: blue;
}

table{
    background-color:bisque;
}
.padre {
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    /* IMPORTANTE */
    text-align: center;
  }

.fondoaqua{
    background-color: bisque;
}